body {
	margin: 0;
	padding: 0;
}

.clear{
	clear: both;
}

.right{
	text-align: right;
}

#header h2 {
	text-align: center;
}

#header {
	background:url("/images/wait1.gif") no-repeat center center
}

#left, #right {
	min-height: 300px;
	padding: 0 10px;
	width: 230px;
}

#left {
	float: left;
	border-right: 1px solid #000;

}

#right{
	border-left: 1px solid #000;
	float: right;
}

#center{
	margin: 0 250px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding: 0 10px;
}

#center h1 {
	margin: 0;
	text-align: center;
}

hr {
	margin: 0;
}

.banner{
	border: 1px solid #000;
	margin: 10px auto 0;
	width: 200px;
}

#footer {
	text-align: center;
}

#pagination p {
	font-size: 110%;
	margin: 0;
	text-align: center;
}

#pagination a{
	display: inline-block;
	padding: 3px;
}

#reg table{
	margin: 0 auto;
} 

.message {
	color: #f00;
	text-align: center;
}

#message {
	text-align: center;
}